body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#myButton{
    font-size: 3em;
    border-radius: 5px;
    padding: 10px;
}
#myButton{
    transition: all 0.3s ease 0s;
    font-size: 3em;
    background-color: hsl(208, 36%, 67%);
    border-radius: 15px;
    border: none;
    padding: 10px;
    
}
#myButton:hover{
    font-size: 3em;
    background-color: hsl(208, 36%, 57%);
    border-radius: 15px;
    border: none;
    padding: 10px;
}
#myButton:active{
    font-size: 3em;
    background-color: hsl(208, 36%, 47%);
    border-radius: 15px;
    border: none;
    padding: 10px;
}
.myLabels{
    font-size: 3em;
}