.myBtns{
    font-size: 4rem;
    margin: 15px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    transition: 0.3s ease-in-out;
    /* box-shadow: 0 0 0px hsla(0, 0%, 0%, 0.2); */
}
.enabled{
    background-color: lightblue;
    color: black;
}
.hover{
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
    font-weight: bold;
}
.disabled{
    background-color: lightgray;
    color: gainsboro;
}